<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://thymeleaf.org">
    <title>New User</title>
</head>
<body>
<h2>New User</h2>
<br>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">

    <label for="firstname">FirstName</label>
    <input type="text" name="firstName" id="firstname">
    <label for="lastname">LastName</label>
    <input type="text" name="lastName" id="lastname">
    <label for="age">Age</label>
    <input type="number" name="age" id="age">
    <label for="email">E-mail</label>
    <input type="email" name="email" id="email">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <label for="roleAdmin">RoleAdmin</label>
    <input type="checkbox" name="roleAdmin" id="roleAdmin">


    <br>
    <input type="submit" value="Create"/>
    <br>
    <a href="/admin/">BACK</a>
    <br/>
    <button class="buttonLogout" onclick="window.location.href = '/logout';">Выйти</button>
</body>
</html>